* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(30, 30, 46, 0.5);
    color: #cdd6f4;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #cdd6f4;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    background: #1e1e2e;
    border-bottom: 3px solid #cba6f7;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

#mode {
    background: #1e1e2e;
    border-bottom: 3px solid #cba6f7;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#temperature,
#backlight,
#window,
#workspaces {
    padding: 0 10px;
    margin: 0 5px;
}

#clock {
    background-color: #313244;
    color: #fab387;
}

#battery {
    color: #a6e3a1;
}

#battery.charging, #battery.plugged {
    color: #a6e3a1;
}

#battery.critical:not(.charging) {
    background-color: #f38ba8;
    color: #1e1e2e;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #1e1e2e;
        color: #f38ba8;
    }
}

label:focus {
    background-color: #1e1e2e;
}

#cpu {
    background-color: #313244;
    color: #eba0ac;
}

#memory {
    background-color: #313244;
    color: #b4befe;
}

#network {
    color: #f9e2af;
}

#network.disconnected {
    background-color: #f38ba8;
    color: #1e1e2e;
}

#pulseaudio {
    color: #89b4fa;
}

#pulseaudio.muted {
    background-color: #313244;
    color: #89b4fa;
}

#temperature {
    color: #f9e2af;
}

#temperature.critical {
    background-color: #f38ba8;
    color: #1e1e2e;
}

#tray {
    background-color: #313244;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #f38ba8;
}

#backlight {
    color: #cba6f7;
}
